<div class="row">
  <div class="col-xs-3">
    建造
    <div ng-repeat="building in resource.data.building" ng-mouseenter="enterBulding(building)" ng-mouseleave="leaveBulding()">
      <div class="buildingEntry" ng-class="{actived: !building.built}" ng-click="build()" ng-show="building.canBuilt">
        <div class="buildingName">{{building.name}}</div>
        <div ng-show="isEnteringBuilding(building)" class="buildingDetail">
          <div style="padding: 0 5px;">
            <div ng-repeat="(key, value) in building.require">
              <div class="detailName">{{key}}</div>
              <div class="detailValue">{{value}}</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-5">
    <div class="col-xs-6" ng-show="resource.data.building[0].built">
      購買
    </div>
    <div class="col-xs-6"  ng-show="resource.data.building[1].built">
      冶煉
    </div>
  </div>
  <div class="col-xs-4">
    <div class="resourceDetail">
      <div class="row">
        <div class="col-xs-12 resourceDetailEntry">
          <div class="detailName">Wood: </div>
          <div class="detailValue"><span class="badge">{{resource.data.wood}}</span></div>
        </div>
        <div class="col-xs-12 resourceDetailEntry">
          <div class="detailName">Rock: </div>
          <div class="detailValue"><span class="badge">{{resource.data.rock}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>