<div class="row">
  <div class="col-xs-2">
    建造
    <div ng-repeat="building in resource.data.building" ng-mouseenter="enterBulding(building)" ng-mouseleave="leaveBulding()">
      <div class="buildingEntry" ng-class="{actived: !building.built, built: building.built}" ng-click="build()" ng-show="building.canBuilt">
        <div class="buildingName">{{building.name}}</div>
        <div ng-show="isEnteringBuilding(building)" class="buildingDetail">
          <div style="padding: 0 5px;">
            <div ng-repeat="(key, value) in building.require">
              <div class="detailName">{{key}}</div>
              <div class="detailValue">{{value}}</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-4" ng-show="resource.data.building[0].built">
      購買
      <div></div>
      <div class="itemEntry" ng-click="buyWorker()">
        <div class="itemName" tooltip="{{resource.data.workerValue}}元" tooltip-placement="left">雇用工人</div>
      </div>
      <div class="itemEntry" ng-click="buyItem(product)" ng-repeat="product in products" tooltip-html-unsafe="{{currentItemTooltip}}" tooltip-placement="left" ng-mouseenter="setCurrentItem(product, {isProduct: true})">
        <div class="itemName">{{product.name}}</div>
      </div>
    </div>
    <div class="col-xs-4" >
      <div>調整生產</div>
      <ul class="list-group produce" data-worker="閒置工人: {{resource.data.worker}}">
        <li class="list-group-item" tooltip-placement="left" tooltip-html-unsafe="+ {{resource.data.workerResource.wood * resource.data.costPlus.wood}} /{{resource.data.heartBeatInterval/1000}}s" tooltip-append-to-body="true">Wood <span class="badge clicker" ng-click="minusWorker('wood')">-</span><span class="badge clicker" ng-click="addWorker('wood')">+</span></li>
        <li class="list-group-item" tooltip-placement="left" tooltip-html-unsafe="+ {{resource.data.workerResource.rock * resource.data.costPlus.rock}} /{{resource.data.heartBeatInterval/1000}}s" tooltip-append-to-body="true">Rock <span class="badge clicker" ng-click="minusWorker('rock')">-</span><span class="badge clicker" ng-click="addWorker('rock')">+</span></li>
        <li class="list-group-item" tooltip-placement="left" tooltip-html-unsafe="+ {{resource.data.workerResource.iron * resource.data.costPlus.iron}} /{{resource.data.heartBeatInterval/1000}}s" tooltip-append-to-body="true">Iron <span class="badge clicker" ng-click="minusWorker('iron')">-</span><span class="badge clicker" ng-click="addWorker('iron')">+</span></li>
      </ul>
    </div>
    <div class="col-xs-4"  ng-show="resource.data.building[1].built">
      冶煉
      <div ng-repeat="item in smeltingItems" class="itemEntry" tooltip-html-unsafe="{{currentItemTooltip}}" tooltip-placement="left" ng-click="smeltItem(item)" ng-mouseenter="setCurrentItem(item, {isSmeltingItem: true})" ><div class="itemName">{{item.name}}</div></div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="resourceDetail">
      <div class="row">
        <div class="col-xs-12 resourceDetailEntry">
          <div class="detailName">Money: </div>
          <div class="detailValue"><span class="badge money">{{me.data.money}}</span></div>
        </div>
        <div class="col-xs-12 resourceDetailEntry">
          <div class="detailName">Worker: </div>
          <div class="detailValue"><span class="badge">{{resource.data.worker}}</span></div>
        </div>
        <div class="col-xs-12 resourceDetailEntry" tooltip-html-unsafe="{{resource.data.workerResource.wood * resource.data.costPlus.wood }} / {{resource.data.heartBeatInterval/1000}}s" tooltip-placement="left">
          <div class="detailName">Wood: </div>
          <div class="detailValue"><span class="badge">{{resource.data.wood}}</span></div>
        </div>
        <div class="col-xs-12 resourceDetailEntry" tooltip-html-unsafe="{{resource.data.workerResource.rock * resource.data.costPlus.rock }} / {{resource.data.heartBeatInterval/1000}}s" tooltip-placement="left">
          <div class="detailName">Rock: </div>
          <div class="detailValue"><span class="badge">{{resource.data.rock}}</span></div>
        </div>
        <div class="col-xs-12 resourceDetailEntry" tooltip-html-unsafe="{{resource.data.workerResource.iron * resource.data.costPlus.iron }} / {{resource.data.heartBeatInterval/1000}}s" tooltip-placement="left">
          <div class="detailName">Iron: </div>
          <div class="detailValue"><span class="badge">{{resource.data.iron}}</span></div>
        </div>
      </div>
    </div>
    <div class="itemDetail">
      <div class="row">
        <div class="col-xs-12 resourceDetailEntry" ng-repeat="item in me.data.items track by $index" tooltip-html-unsafe="{{currentItemTooltip}}" tooltip-placement="left" ng-mouseenter="setCurrentItem(item)">
          <div class="detailName">{{item.name}}</div>
          <div class="detailValue"><span class="badge">{{item.type}}</span><span class="badge abandon" ng-click="moveItemToStorage(item)">X</span></div>
        </div>
      </div>
    </div>
  </div>
</div>