<div class="row">
  <div class="col-xs-3">
    <div>{{resource.wood}}</div>
    <div ng-repeat="building in resource.building" ng-mouseenter="enterBulding(building)" ng-mouseleave="leaveBulding()">
      <div class="houseEntry">
        {{building.name}}
        <div ng-show="isEnteringBuilding(building)" class="houseDetail">
          {{building.require.wood}}
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-5">
    <div>{{resource.wood}}</div>
    <div ng-repeat="i in [1, 2, 3]">{{i}}</div>
  </div>
  <div class="col-xs-4">
    <div>{{resource.wood}}</div>
    <div ng-repeat="i in [1, 2, 3]">{{i}}</div>
  </div>
</div>